@page "/fetchdata"
@using CookingSuggester.Shared
@inject HttpClient Http

<PageTitle>Cooking list</PageTitle>

<h1>Cooking list</h1>

@if (cookings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Materials</th>
                <th>Process</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cooking in cookings)
            {
                <tr>
                    <td>@cooking.Name</td>
                    <td>
                        <span style="white-space: pre-line">
                            @cooking.Materials.Replace(",", "\n")
                        </span>
                    </td>
                    <td>
                        <span style="white-space: pre-line">
                            @cooking.Process.Replace("\\n", "\n")
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Cooking[]? cookings;

    protected override async Task OnInitializedAsync()
    {
        cookings = await (await Http.PostAsJsonAsync("Suggestion/exclude", "")).Content.ReadAsAsync<Cooking[]>();
    }
}
