@page "/"
@using CookingSuggester.Shared
@inject HttpClient Http

<PageTitle>必要な材料</PageTitle>

<h2>必要な材料</h2>

@if (materialList == null)
{
	<p><em>ロード中...</em></p>
}
else
{
	<span style="white-space: pre-line">
        @materialList.MaterialList.Replace(",", "\n")
    </span>
}

@code {
	private Materials? materialList { get; set; }

	protected override async Task OnInitializedAsync()
	{
		materialList = await Http.GetFromJsonAsync<Materials>("Suggestion/materials/0");
	}
}